.ascii-container {
    width: min-content;
    font-family: monospace;
    font-size: 1em;
    line-height: .8em;
    transform-origin: left;
    transform: scaleX(1.333);
    background-color: white;
}

.ascii-container.dark {
    background-color: black;
    color: white;
}

.hidden-canvas {
    display: none;
}